@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital@0;1&family=Cinzel&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand {
    font-family: "Quicksand", serif
}

/* color styles */
.violet {
    color: #5D58EF;
}



.orange {
    color: #FEA301;
}

.sky-blue {
    color: #01ACFD;
}

.cyan {
    color: #05D4DF;
}


header {
    padding: 0 100px;
}

body {
    margin: 0 ;
    padding: 0;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.nav-routes {
    display: flex;
    gap: 30px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo h2 {
    text-transform: uppercase;
    font-weight: 600;
}

.contact-btn {
    background-color: #FEA301;
    border-radius: 8px;
    padding: 12px 35px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.fa-bars {
    display: none;
}

/* banner section styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner-title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner p {
    font-size: 20px;
}

.black-btn {
    padding: 15px 30px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}


/* standard curriculum section */

.standard-curriculum {
    background-image: url('./assets//bg.png');
    margin: 60px 0;
    padding: 0 100px;
}

.curriculum-title {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.curriculums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px 0;
    gap: 50px;
}

.curriculum-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 60px 30px;
    border-radius: 12px;
    box-shadow: inset 4px 4px 6px 0 rgba(0, 0, 0, 0.1), inset -4px -4px 6px 0 rgba(0, 0, 0, 0.1)
}

.curriculum-card img {
    width: 130px
}

.curriculum-card a {
    text-decoration: none;
    font-weight: 600;
}

.curriculum-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* curriculum card 1 */
.curriculum-card-1 {
    background-image: linear-gradient(#DEF5FF, white);
}

/* curriculum card 2 */
.curriculum-card-2 {
    background-image: linear-gradient(#FFF4DC, white);
}

/* curriculum card 3 */
.curriculum-card-3 {
    background-image: linear-gradient(#F2E8FF, white);
}

.arrow-btn {
    display: flex;
    margin: auto;
    gap: 10px;
    width: 200px;
    justify-content: center;
}

.arrow-btn button {
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.arrow-btn :hover{
    background-color: #c47e06 ;
}


/* our stories section styles */

.stories {
    background-image: url(./assets/bg.png);
    /* height: 500px; */
    margin-top: 100px;
}

.story-cards-container {
    display: flex;
    padding: 0 100px;
    gap: 30px;
    margin: 0;
}

.story-card-main {
    width: 50%;
    margin-right: 20px;
    height: 100%;
    border-radius: 16px;
    background-color: white;
    position: relative;
}

.story-card-main img {
    width: 100%;
    height: 450px;
    border-radius: 16px 16px 0 0;
}

.story-card-description-main {
    padding: 1% 5%;
    margin-bottom: 0;
}

.story-card-description-main>p {
    font-size: 15px;
    margin-bottom: 30px;
}

.story-bg {
    background-image: linear-gradient(white, #fea10152);
    padding: 50px 0;
}

.story-bg>button {
    width: 10%;
    margin: auto;
    margin-top: 50px;
}

.story-bg {
    display: grid;
}

.story-card-btn {
    position: absolute;
    left: 5%;
    top: 430px;
    background-color: #3CD8E8;
    padding: 10px 25px;
    border-radius: 48px;
    color: white;
    border: none;
}

.story-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 0;
    margin-top: 0;
    width: 50%;
    height: 40%;
}

.story-card {
    margin: 0;
    width: 100%;
    height: auto;
    border-radius: 16px;
    background-color: white;
    position: relative;
}

.story-card img {
    width: 100%;
    height: 195px;
    border-radius: 16px 16px 0 0;
}

.story-card-description {
    padding: 5% 5%;
    margin-bottom: 0;
    height: 10%;
}

.story-cards-btn {
    position: absolute;
    left: 5%;
    top: 175px;
    background-color: #95B226;
    padding: 10px 25px;
    border-radius: 48px;
    color: white;
    border: none;
}

.violet-btn {
    background-color: #5D58F0;
    position: absolute;
    left: 5%;
    top: 175px;
    padding: 10px 25px;
    border-radius: 48px;
    color: white;
    border: none;
}

/* footer styles */

footer {
    background-color: #01adfde1;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    margin: 0;
}

footer p {
    width: 350px;
}

.footer-logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer-logo>h2 {
    font-size: 30px;
    font-weight: 600;
}

.about-school{
    margin-bottom: 40px;
}

.footer-navs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer a{
    text-decoration: none;
    color: wheat;
}

.footer-icons{
    display: flex;
    gap: 10px;
}

.marquee{
    margin-top: 20px;
    background-color: #01ACFD;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0;
}


@media only screen and (max-width: 576px) {

    header {
        padding: 0;
        margin: 0;
    }

    body {
        margin: 0 auto;
        padding: 0;
    }

    nav {
        border: #FEA301 solid 1px;
        padding: 10px 20px;
    }

    .logo h2 {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 30px;
    }

    .contact-btn {
        display: none;
    }

    .nav-routes {
        display: none;
    }


    /* banner section responsive styles  */

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
    }

    .banner img {
        width: 90%;
    }

    .banner h2 {
        font-size: 32px;
    }

    .banner-description {
        text-align: center;
        padding: 0 20px;
    }


    /* curriculum section */

    .standard-curriculum {
        padding: 20px 0;
        margin: 30px 0;
    }

    .curriculums {
        display: grid;
        /* justify-content: center; */
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        width: 350px;
        margin: auto;
        /* width: 100%; */
        /* margin-left: 2.5%; */
        /* margin: auto; */
    }

    .curriculum-card {
        width: 290px;
        margin: 0 auto;
        padding: auto 0;
        /* height: 320px; */
    }

    .curriculum-title {
        font-size: 30px;
    }

    .arrow-btn {
        display: none;
    }

    /* stories section */

    .stories {
        margin-top: 0;
        display: grid;
        justify-content: center;
    }

    .story-card-main {
        display: none;
    }

    .story-cards-container {
        padding: 0;
        width: 100%;
    }

    .story-cards {
        gap: 10px;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-left: 5%;
        /* margin-left: 15px; */
        /* margin: auto; */
    }

    .story-card {
        width: 90%;
    }

    .story-card img {
        width: 100%;
        height: 130px
    }

    .story-cards-btn {
        padding: 5px 10px;
        top: 118px;
        font-size: 10px;
    }

    .story-card-description h4 {
        font-size: 10px;
    }

    .story-bg {
        padding: 30px 0;
    }

    .story-bg>button {
        width: 100px;
        padding: 5px 20px;
        margin-top: 20px;
        font-size: 10px;
    }

    /* footer styles */

    footer{
        flex-direction: column;
        padding: 40px 20px;
    }
}